<suite name="Automation Site Main Suite" parallel="false" preserve-order="true" thread-count="3">
    <listeners>
        <listener class-name="utilities.ReportLog"/>
    </listeners>
    <test name="Your Store Home Page Test - Chrome" verbose="10">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
    <test name="Your Store Login Page Test - Chrome" verbose="10">
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>
</suite>